@font-face {
  font-family: 'FreeSetCTT';
  font-weight: 500;
  font-style: normal;
  src: local("FreeSetCTT"), url(../fonts/FreeSetCTT.ttf) format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: 1;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "FreeSetCTT";
}

.container {
  width: 100%;
  min-height: calc(100vh - 70px);
  font-family: "FreeSetCTT";
  padding: 0px;
}

.container .header {
  margin-left: 260px;
  background-color: #ffffff;
  height: 70px;
  width: calc(100% - 260px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.container .header.full-width {
  margin: 0px;
  width: 100%;
}

.container .header .navbar-aside {
  padding-left: 25px;
  padding-top: 24px;
}

.container .header .navbar-aside .btn-aside-menu {
  width: 28px;
  height: 22px;
  background-image: url(../img/icon-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container .header .navbar-aside .btn-aside-menu:focus {
  outline: none;
}

.container .header .navbar-user {
  padding-right: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .header .navbar-user .notification {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  position: relative;
}

.container .header .navbar-user .notification .icon-notification {
  width: 15px;
  height: 20px;
  background: url(./../img/icon-notification.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.container .header .navbar-user .notification .new-notification {
  position: absolute;
  top: -6px;
  right: -9px;
  font-family: "FreeSetCTT";
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  background: -webkit-linear-gradient(271.82deg, #E6EC00 -13.56%, #3EAC3C 158.3%);
  background: -o-linear-gradient(271.82deg, #E6EC00 -13.56%, #3EAC3C 158.3%);
  background: linear-gradient(178.18deg, #E6EC00 -13.56%, #3EAC3C 158.3%);
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.container .header .navbar-user .user {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.container .header .navbar-user .user .user-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .header .navbar-user .user .user-wrapper .icon-user {
  width: 35px;
  height: 35px;
  background-image: url(../img/user.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  background-color: #ffffff;
  border-radius: 50%;
}

.container .header .navbar-user .user .user-wrapper .user-name {
  font-family: "FreeSetCTT";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #858585;
  padding-left: 10px;
  padding-right: 10px;
}

.container .header .navbar-user .user .show-user-dropdown {
  cursor: pointer;
}

.container .header .navbar-user .user .dropdown-user {
  position: absolute;
  top: 75px;
  right: 60px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
  width: 200px;
  display: none;
}

.container .header .navbar-user .user .dropdown-user ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.container .header .navbar-user .user .dropdown-user ul li {
  font-size: 14px;
  color: #505050;
}

.container .header .navbar-user .user .dropdown-user ul li a {
  outline: none;
  display: inline-block;
  text-decoration: none;
  color: #505050;
  width: 100%;
  font-size: 14px;
  padding: 15px 25px;
}

.container .header .navbar-user .user .dropdown-user ul li a.logout {
  padding-left: 40px;
  position: relative;
}

.container .header .navbar-user .user .dropdown-user ul li a.logout::before {
  content: "";
  left: 15px;
  top: 12px;
  width: 17px;
  height: 17px;
  background-image: url(../img/icon-logout.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  background-position: center;
  display: block;
  position: absolute;
}

.container .sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 260px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 999;
  background-color: #ffffff;
}

.container .sidebar.hide {
  left: -280px;
}

.container .sidebar .logo {
  padding: 12px;
  text-align: left;
  height: 70px;
  border-bottom: 1px solid #E8E2E2;
}

.container .sidebar .logo img {
  max-width: 127px;
  width: 100%;
}

.container .sidebar .menu {
  width: 100%;
  padding-top: 30px;
}

.container .sidebar .menu .sidebar-nav {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.container .sidebar .menu .sidebar-nav li {
  width: 100%;
  padding: 0px;
  margin: 0px;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.container .sidebar .menu .sidebar-nav li .icon-charts {
  background: url(./../img/icon-charts-g.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  -webkit-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

.container .sidebar .menu .sidebar-nav li .icon-info {
  background: url(./../img/icon-info-g.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  -webkit-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

.container .sidebar .menu .sidebar-nav li a {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "FreeSetCTT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #565252;
  text-decoration: none;
  outline: none;
  position: relative;
  width: 100%;
  position: relative;
}

.container .sidebar .menu .sidebar-nav li a::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#D2E507), to(#85C723));
  background: -webkit-linear-gradient(top, #D2E507 0%, #85C723 100%);
  background: -o-linear-gradient(top, #D2E507 0%, #85C723 100%);
  background: linear-gradient(180deg, #D2E507 0%, #85C723 100%);
  border-radius: 1px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.container .sidebar .menu .sidebar-nav li a:hover {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container .sidebar .menu .sidebar-nav li a:hover .icon-charts {
  background: url(./../img/icon-charts.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
}

.container .sidebar .menu .sidebar-nav li a:hover .icon-info {
  background: url(./../img/icon-info.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
}

.container .sidebar .menu .sidebar-nav li a:hover::after {
  opacity: 1;
}

.container .sidebar .menu .sidebar-nav li a.active {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container .sidebar .menu .sidebar-nav li a.active .icon-charts {
  background: url(./../img/icon-charts.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
}

.container .sidebar .menu .sidebar-nav li a.active .icon-info {
  background: url(./../img/icon-info.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
}

.container .sidebar .menu .sidebar-nav li a.active::after {
  opacity: 1;
}

.filter-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.filter-wrapper .box {
  width: calc(20% - 20px);
  background: #ffffff;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 10px;
  position: relative;
}

.filter-wrapper .box h6 {
  padding: 10px 0;
  margin: 0 10px;
  font-family: "FreeSetCTT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #797777;
  margin-bottom: 2px !important;
  border-bottom: 1px solid #BEBEBE;
}

.filter-wrapper .box input, .filter-wrapper .box select {
  border-color: rgba(0, 0, 0, 0);
  padding: 0px !important;
  height: 24px !important;
  max-width: 90% !important;
  width: 90%;
  margin: 0 10px 5px 10px;
  font-family: "FreeSetCTT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #383232;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.filter-wrapper .box .drp-container-selectdata {
  width: 100%;
}

.filter-wrapper .box .drp-container-selectdata input:focus ~ .select-caret {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.filter-wrapper .box .drp-container-selectdata .select-caret {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: url(./../img/arrow-select.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -o-transform 0.3s ease;
  z-index: 100;
}

.filter-wrapper .box select {
  border: none !important;
  background: transparent;
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
}

.filter-wrapper .box select:focus ~ .select-caret {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.filter-wrapper .box select ~ .select-caret {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: url(./../img/arrow-select.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -o-transform 0.3s ease;
}

.breadcrumps {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.breadcrumps ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.breadcrumps ul li {
  display: block;
  padding-right: 5px;
  margin: 0px;
  font-family: "FreeSetCTT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.breadcrumps ul li a,
.breadcrumps ul li span {
  font-family: "FreeSetCTT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  outline: none;
}

.row-ankets {
  padding: 15px 30px;
  border-top: 1px solid #cdcccc;
  border-bottom: 1px solid #cdcccc;
  width: 100%;
}

.row-ankets .row.btns-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start !important;
  -webkit-justify-content: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
}

.row-ankets .row.btns-info .container-ii {
  width: 20% !important;
  min-width: 220px;
  padding: 10px;
  max-width: 250px;
}

.row-ankets .row.btns-info .container-ii .show-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px;
}

.row-ankets .row.btns-info .container-ii .show-block .frist-block {
  padding-right: 10px;
  margin-right: 15px;
  border-right: 2px solid #ffffff;
}

.row-ankets .row.btns-info .container-ii .show-block .frist-block .img-wrp img {
  min-width: 50px;
  max-width: 50px;
}

.row-ankets .row.btns-info .container-ii .show-block .second-block .top-block {
  font-size: 20px;
  color: #ffffff;
  padding-bottom: 3px;
}

.row-ankets .row.btns-info .container-ii .show-block .second-block .bot-block {
  font-size: 12px;
  color: #ffffff;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding-right: 10px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.2;
}

.row-ankets .row.btns-info .container-ii .show-block .second-block .bot-block span {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.row-ankets .row.btns-info .container-ii .show-block .second-block .bot-block span:nth-child(2) {
  text-align: right;
}

.row-ankets .row.btns-info .container-ii .show-block.blue {
  background-color: #4cafd1;
}

.row-ankets .row.btns-info .container-ii .show-block.green {
  background-color: #4fa049;
}

.row-ankets .row.btns-info .container-ii .show-block.yellow {
  background-color: #f2b526;
}

.row-ankets .row.btns-info .container-ii .show-block.red {
  background-color: #df4d50;
}

.row-ankets .row.btns-info .container-ii .show-block.orange {
  background-color: #df4d50;
}

.searh-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 35px;
  padding-right: 35px;
}

.searh-row .search-form {
  padding-bottom: 20px;
}

.searh-row .search-form .title {
  font-family: "FreeSetCTT";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #605A5A;
  padding-bottom: 15px;
}

.searh-row .search-form form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searh-row .search-form form .input-search {
  width: 320px;
  max-width: calc(100% - 50px);
}

.searh-row .search-form form .input-search input {
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  height: 37px;
  outline: none;
}

.searh-row .search-form form .submit-search {
  margin-left: 8px;
}

.searh-row .search-form form .submit-search input {
  padding: 5px 20px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
  background: #13B8EA;
  border-radius: 5px;
  height: 37px;
  border: none;
  outline: none;
}

.searh-row .upload {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
}

.searh-row .upload a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.searh-row .upload .text {
  font-family: Arial;
  font-style: normal;
  font-size: 30px;
  line-height: 32px;
  color: #13B8EA;
  padding-left: 65px;
}

.searh-row .upload .img {
  width: 45px;
}

.searh-row .upload .img img {
  max-width: 100%;
}

.table-content {
  background: #FFFFFF;
  width: 100%;
  padding: 40px 30px;
  margin-bottom: 40px;
}

.table-content .table-wrapper {
  max-width: 100%;
  overflow-y: auto;
}

.table-content .table-wrapper table {
  width: 100%;
  border-top: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
  border-left: 1px solid #F1F1F1;
}

.table-content .table-wrapper table thead td {
  padding: 10px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #453A3A;
  border-top: 1px solid #F1F1F1;
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
}

.table-content .table-wrapper table tbody tr:hover td {
  border-bottom: 1px solid #D2E507;
  border-top: 1px solid #D2E507;
}

.table-content .table-wrapper table tbody tr:hover td .show {
  background: url(./../img/table-show-a.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.table-content .table-wrapper table tbody tr:hover td:first-child {
  border-left: 1px solid #D2E507;
}

.table-content .table-wrapper table tbody tr:hover td:last-child {
  border-right: 1px solid #D2E507;
}

.table-content .table-wrapper table tbody tr td {
  border-style: double;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #605A5A;
  padding: 10px;
  border-top: 1px solid #F1F1F1;
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
  vertical-align: middle;
}

.table-content .table-wrapper table tbody tr td:first-child {
  padding-left: 70px;
  position: relative;
}

.table-content .table-wrapper table tbody tr td .show {
  position: absolute;
  top: calc(50% - 12px);
  left: 20px;
  display: block;
  width: 25px;
  height: 25px;
  background: url(./../img/table-show.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-transition: background 0.3d ease-in;
  -o-transition: background 0.3d ease-in;
  transition: background 0.3d ease-in;
}

.table-content .table-wrapper table tbody tr:last-child:hover td {
  border-bottom: 1px solid #D2E507;
}

.table-content .table-wrapper table tbody tr:last-child td {
  border-bottom: 1px solid #F1F1F1;
}

ul.pagination {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-top: 30px;
}

ul.pagination.bg-white {
  background-color: #ffffff;
}

ul.pagination li {
  padding: 0px 5px;
}

ul.pagination li a,
ul.pagination li span {
  margin: 20px 0px;
  padding: 6px 12px;
  background: #FBFBFB;
  color: #000000;
  border: none;
  border-right: none;
  text-decoration: none;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #605A5A;
}

ul.pagination li a:hover,
ul.pagination li span:hover {
  background-color: #61A743 !important;
  color: #FFFFFF !important;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul.pagination li.active a {
  background-color: #61A743 !important;
  color: #FFFFFF !important;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul.pagination .prev span {
  border: 1px solid #61A743;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: #61A743;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

ul.pagination .prev a {
  border: 1px solid #61A743;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: #61A743;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

ul.pagination .next span {
  border: 1px solid #61A743;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: #61A743;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

ul.pagination .next a {
  border: 1px solid #61A743;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: #61A743;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.content {
  width: calc(100% - 260px);
  min-height: calc(100vh - 70px);
  margin-left: 260px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #F4F4F4;
  margin-top: 70px;
}

.content.full-width {
  margin: 0px;
  width: 100%;
  margin-top: 70px;
}

.page-content {
  width: 100%;
  background: #F4F4F4;
  max-width: 100%;
  overflow: hidden;
}

.daterangepicker .drp-buttons .btn {
  border: none;
  border-radius: 2px;
  background: #11CAE3;
  color: #ffffff;
  padding: 10px 15px;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  font-family: "FreeSetCTT";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.daterangepicker .drp-buttons .btn:hover {
  background: #11CAE3;
}

.daterangepicker .drp-selected {
  font-family: "FreeSetCTT";
  color: #505050;
  font-family: "FreeSetCTT";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.daterangepicker .calendar-table td.active,
.daterangepicker .calendar-table td.active:hover {
  background-color: #11CAE3;
  color: #ffffff;
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  color: #505050;
  font-family: "FreeSetCTT";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.charts-content {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.charts-content .chart-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

.charts-content .chart-box {
  width: calc(50% - 12px);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 10px 15px;
}

.charts-content .chart-box.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.charts-content .chart-box .chart-header {
  font-family: "FreeSetCTT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  padding-bottom: 15px;
}

.charts-content .chart-box .table-chart {
  width: 100%;
}

.charts-content .chart-box .table-chart .table-item {
  padding-bottom: 5px;
}

.charts-content .chart-box .table-chart .table-item .info-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 7px;
}

.charts-content .chart-box .table-chart .table-item .line-row {
  position: relative;
}

.charts-content .chart-box .table-chart .table-item .line-row .grey-row {
  background: #F0F0F0;
  border-radius: 5px;
  width: 100%;
  height: 5px;
}

.charts-content .chart-box .table-chart .table-item .line-row .active-row {
  border-radius: 5px;
  height: 7px;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 0px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.charts-content .chart-box .table-chart .table-item .line-row .active-row.colorblue1 {
  background: #30BEE4;
}

.charts-content .chart-box .table-chart .table-item .line-row .active-row.colorblue2 {
  background: #00A5D2;
}

.charts-content .chart-box .table-chart .table-item .line-row .active-row.colorblue3 {
  background: #61C2DC;
}

.charts-content .chart-box .table-chart .table-item .line-row .active-row.colorblue4 {
  background: #5DA0C6;
}

.charts-content .chart-box .table-chart .table-item .line-row .active-row.colorblue5 {
  background: #43B3F1;
}

.charts-content .chart-box .table-chart .table-item .line-row .active-row.colorgreen1 {
  background: #92C930;
}

.charts-content .chart-box .table-chart .table-item .line-row .active-row.colorgreen2 {
  background: #BDDA1C;
}

.charts-content .chart-box .table-chart .table-item .line-row .active-row.colorgreen3 {
  background: #E6EC00;
}

.charts-content .chart-box .table-chart .table-item .line-row .active-row.colorgreen4 {
  background: #B2DD6A;
}

.charts-content .chart-box .table-chart .table-item .line-row .active-row.colorgreen5 {
  background: #74CE9E;
}

.charts-content .chart-box .table-chart .table-item .percent {
  font-family: "FreeSetCTT";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.charts-content .chart-box .table-chart .table-item .stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.charts-content .chart-box .table-chart .table-item .stars .icon-star {
  width: 15px;
  height: 15px;
  background: url(./../img/star.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  margin-right: 5px;
}

.charts-content .chart-box .chart-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.charts-content .chart-box .chart-block .linechart {
  max-width: 100%;
  width: 100%;
}

.charts-content .chart-box .chart-block .doughnutlegend {
  width: 50%;
}

.charts-content .chart-box .chart-block .doughnutlegend .legenditem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 10px;
}

.charts-content .chart-box .chart-block .doughnutlegend .legenditem .count {
  background: #B2DD6A;
  border-radius: 3px;
  min-width: 90px;
  text-align: center;
  padding: 3px;
  font-family: "FreeSetCTT";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.charts-content .chart-box .chart-block .doughnutlegend .legenditem .label {
  font-family: "FreeSetCTT";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #5B5555;
  padding: 3px;
  padding-left: 15px;
  max-width: 140px;
}

.charts-content .chart-box .chart-block .doughnutchart {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.charts-content .chart-box .chart-block .chart {
  margin: 0px;
  width: calc(100% - 60px);
  position: relative;
  max-width: 200px;
  margin: auto;
}

.charts-content .chart-box .chart-block .chart svg {
  width: 100%;
}

.charts-content .chart-box .chart-block .chart path {
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
       -o-transform-origin: center center;
          transform-origin: center center;
  transform-box: fill-box;
}

.charts-content .chart-box .chart-block .chart path:hover {
  -webkit-filter: url("#boxshadow");
          filter: url("#boxshadow");
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
       -o-transform: scale(1.01);
          transform: scale(1.01);
}

.doughnutTip {
  position: absolute;
  float: left;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transform: all .3s;
      -ms-transform: all .3s;
       -o-transform: all .3s;
          transform: all .3s;
  pointer-events: none;
  display: none !important;
}

.doughnutTip:after {
  position: absolute;
  left: 50%;
  bottom: -6px;
  content: "";
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.7);
  line-height: 0;
}

.infoclient {
  background: #FFFFFF;
}

.infoclient .infoclientrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0px 25px;
}

.infoclient .infoclientrow .infoclientcol {
  width: 75%;
  padding: 18px 0px;
}

.infoclient .infoclientrow .img-block {
  width: 25%;
  background: url(./../img/detailinfoclient.svg);
  background-position-x: right;
  background-position-y: 20px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.infoclient .info-cnt-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.infoclient .info-cnt-flex > div {
  width: 50%;
}

.infoclient .infoheader {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 40px;
  text-align: center;
}

.infoclient .info-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
  max-width: 360px;
}

.infoclient .info-row .label {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.infoclient .info-row .value {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #605A5A;
  width: 200px;
  text-align: left;
}

.scrollup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #61A743;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  border-radius: 20px 0px;
  -webkit-transition: all 0.50s ease;
  -o-transition: all 0.50s ease;
  transition: all 0.50s ease;
  -webkit-box-shadow: 5px 5px 22px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 22px -4px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  z-index: 999;
  display: none;
  text-align: center;
}

.scrollup .text-white {
  width: 25px;
  height: 25px;
  background: url(./../img/arrow-down.svg);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
}

.block-header {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 15px;
  padding-top: 30px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.accordeon {
  padding: 30px 20px 10px;
  background: #ffffff;
}

.accordeon .accordeon-block {
  padding-bottom: 20px;
}

.accordeon .accordeon-block.active .accordeon-header {
  font-weight: bold;
  -webkit-filter: drop-shadow(4px 10px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(4px 10px 10px rgba(0, 0, 0, 0.1));
}

.accordeon .accordeon-block.active .accordeon-header:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordeon .accordeon-block .accordeon-header {
  font-family: Arial;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 15px 20px;
  color: #000000;
  width: 100%;
  background: #F9F7F7;
  -webkit-transition: 0.3s -webkit-filter linear;
  transition: 0.3s -webkit-filter linear;
  -o-transition: 0.3s filter linear;
  transition: 0.3s filter linear;
  transition: 0.3s filter linear, 0.3s -webkit-filter linear;
  position: relative;
  padding-right: 90px;
}

.accordeon .accordeon-block .accordeon-header:after {
  content: "";
  width: 30px;
  height: 15px;
  background: url(./../img/accordeon-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  position: absolute;
  right: 30px;
  top: 17px;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in, -o-transform 0.3s ease-in;
}

.accordeon .accordeon-block .accordeon-header:hover {
  -webkit-filter: drop-shadow(4px 10px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(4px 10px 10px rgba(0, 0, 0, 0.1));
  font-weight: bold;
}

.accordeon .accordeon-block .accordeon-content {
  display: none;
  padding-top: 20px;
  padding-bottom: 10px;
}

.accordeon .accordeon-block .accordeon-content .info-wrapper {
  max-width: 100%;
  overflow-y: auto;
  border: 1px solid #E8F8FE;
  border-radius: 4px;
}

.accordeon .accordeon-block .accordeon-content .info-wrapper.info-striped-yellow .info-body .info-row:nth-child(odd) {
  background: rgba(202, 228, 72, 0.05);
}

.accordeon .accordeon-block .accordeon-content .info-wrapper.info-striped-green .info-body .info-row:nth-child(odd) {
  background: rgba(144, 213, 136, 0.05);
}

.accordeon .accordeon-block .accordeon-content .info-wrapper.info-striped-lightblue .info-body .info-row:nth-child(odd) {
  background: rgba(0, 192, 203, 0.05);
}

.accordeon .accordeon-block .accordeon-content .info-wrapper.info-striped-blue .info-body .info-row:nth-child(odd) {
  background: rgba(0, 148, 197, 0.05);
}

.accordeon .accordeon-block .accordeon-content .info-wrapper.info-striped-blue2 .info-body .info-row:nth-child(odd) {
  background: rgba(0, 120, 172, 0.05);
}

.accordeon .accordeon-block .accordeon-content .info-wrapper.info-striped-green2 .info-body .info-row:nth-child(odd) {
  background: rgba(101, 185, 59, 0.05);
}

.accordeon .accordeon-block .accordeon-content .info-wrapper.info-striped-yellow2 .info-body .info-row:nth-child(odd) {
  background: rgba(202, 228, 72, 0.05);
}

.accordeon .accordeon-block .accordeon-content .info-wrapper.info-striped-green3 .info-body .info-row:nth-child(odd) {
  background: rgba(0, 158, 65, 0.05);
}

.accordeon .accordeon-block .accordeon-content .info-wrapper.info-striped-green3 .info-body .info-row:nth-child(odd) {
  background: rgba(0, 158, 65, 0.05);
}

.accordeon .accordeon-block .accordeon-content .info-wrapper.info-striped-yellow3 .info-body .info-row:nth-child(odd) {
  background: rgba(229, 236, 0, 0.05);
}

.accordeon .accordeon-block .accordeon-content .info-wrapper .info-head-row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.accordeon .accordeon-block .accordeon-content .info-wrapper .info-head-row .col {
  padding: 10px 20px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-align: left;
  width: 33.3%;
  min-width: 33.3%;
  max-width: 33.3%;
}

.accordeon .accordeon-block .accordeon-content .info-wrapper .info-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}

.accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .first-col {
  width: 33%;
  min-width: 33%;
  max-width: 33%;
  width: 33%;
  min-width: 33%;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  padding: 10px 20px;
  text-align: left;
}

.accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .second-col {
  width: 67%;
  min-width: 67%;
  max-width: 67%;
  padding: 10px 20px;
}

.accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .second-col .second-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .second-col .second-row .col {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-align: left;
  padding: 10px 20px;
}

.accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .second-col .second-row .col .empty {
  display: inline-block;
  height: 9px;
  width: 25px;
  border-top: 1px solid #000000;
}

.accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .second-col .second-row .col .ratings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .second-col .second-row .col .ratings .star {
  width: 13px;
  height: 13px;
  background: url("./../img/star.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  margin-right: 5px;
}

.accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .second-col .second-row .col .ratings .star.active {
  background: url("./../img/star-a.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

@media screen and (max-width: 1400px) {
  .filter-wrapper .box {
    width: calc(25% - 20px);
  }
}

@media screen and (max-width: 1200px) {
  .infoclient .info-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  .infoclient .info-row .label {
    padding-bottom: 15px;
  }
  .infoclient .info-row .value {
    width: auto;
  }
  .infoclient .infoclientrow .img-block {
    width: 40%;
  }
  .infoclient .infoclientrow .infoclientcol {
    width: 60%;
  }
  .charts-content .chart-box .chart-block .chart {
    width: calc(100% - 20px);
  }
  .filter-wrapper .box {
    width: calc(33% - 20px);
  }
  .chart-box.full-width .linechart.minwidth800 {
    overflow: auto;
  }
  .chart-box.full-width .linechart.minwidth800 > div {
    min-width: 800px;
  }
  .chart-box.full-width .linechart.minwidth900 {
    overflow: auto;
  }
  .chart-box.full-width .linechart.minwidth900 > div {
    min-width: 900px;
  }
  .chart-box.full-width .linechart.minwidth950 {
    overflow: auto;
  }
  .chart-box.full-width .linechart.minwidth950 > div {
    min-width: 950px;
  }
}

@media screen and (max-width: 900px) {
  .accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .first-col,
  .accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .second-col .second-row .col {
    font-size: 14px;
    line-height: 16px;
  }
  .infoclient .info-row {
    padding-bottom: 10px;
  }
  .infoclient .info-row .label {
    padding-bottom: 5px;
  }
  .infoclient .info-cnt-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infoclient .info-cnt-flex > div {
    width: 100%;
  }
  .infoclient .infoclientrow .img-block {
    width: 50%;
    background-position: center;
  }
  .infoclient .infoclientrow .infoclientcol {
    width: 50%;
  }
  .table-content .table-wrapper table tbody tr td:first-child {
    padding-left: 50px;
  }
  .table-content .table-wrapper table tbody tr td .show {
    left: 10px;
  }
  .chart-box.full-width .linechart.minwidth850 {
    overflow: auto;
  }
  .chart-box.full-width .linechart.minwidth850 > div {
    min-width: 850px;
  }
  .filter-wrapper .box {
    width: calc(50% - 20px);
  }
  .charts-content .chart-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .charts-content .chart-row .chart-box {
    width: 100%;
  }
  .charts-content .chart-row .chart-box:first-child {
    margin-bottom: 15px;
  }
  .doughnutchart {
    padding: 0px;
    max-width: 250px;
    margin: auto;
  }
  .charts-content .chart-row .chart-box .chart-block .chart {
    max-width: 100%;
    width: 100%;
  }
  .chart-box.full-width .linechart.minwidth600 {
    overflow: auto;
  }
  .chart-box.full-width .linechart.minwidth600 > div {
    min-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .accordeon .accordeon-block .accordeon-header,
  .accordeon .accordeon-block .accordeon-content .info-wrapper .info-head-row .col {
    font-size: 14px;
    line-height: 16px;
  }
  .accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .first-col,
  .accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .second-col .second-row .col {
    font-size: 12px;
    line-height: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .second-col,
  .accordeon .accordeon-block .accordeon-content .info-wrapper .info-head-row .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .accordeon {
    padding-left: 15px;
    padding-right: 15px;
  }
  .table-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .searh-row .search-form {
    width: 100%;
  }
  .searh-row .upload {
    width: 200px;
    margin: auto;
  }
  .searh-row .upload .text {
    padding: 0px;
  }
  .doughnutchart {
    max-width: 200px;
  }
  .container .sidebar {
    left: -260px;
    top: 70px;
  }
  .container .header,
  .container .content {
    width: 100%;
    margin-left: 0px;
  }
  .container .sidebar.hide {
    left: 0px;
  }
  .container .sidebar {
    left: -280px;
  }
  .container .header,
  .container .content {
    width: 100%;
    margin-left: 0px;
  }
  .container .sidebar.hide {
    left: 0px;
    top: 70px;
  }
  .chart-box .linechart.minwidth300 {
    overflow: auto;
  }
  .chart-box .linechart.minwidth300 > div {
    min-width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .accordeon {
    padding-left: 10px;
    padding-right: 10px;
  }
  .accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .first-col,
  .accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .second-col .second-row .col {
    font-size: 10px;
    line-height: 12px;
  }
  .accordeon .accordeon-block .accordeon-content .info-wrapper .info-row .second-col {
    padding-left: 0px;
    padding-right: 0px;
  }
  .breadcrumps {
    padding-left: 15px;
    padding-right: 15px;
  }
  .breadcrumps ul li {
    font-size: 12px;
  }
  .breadcrumps ul li a,
  .breadcrumps ul li span {
    font-size: 12px;
  }
  .infoclient .infoclientrow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infoclient .infoclientrow .infoclientcol {
    width: 100%;
  }
  .infoclient .infoclientrow .img-block {
    height: 300px;
    width: 100%;
  }
  .infoclient .infoclientrow .info-cnt-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .infoclient .infoclientrow {
    padding-left: 15px;
    padding-right: 15px;
  }
  .doughnutchart {
    max-width: 200px;
  }
  .filter-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .filter-wrapper .box {
    margin: 5px;
    width: calc(50% - 10px);
  }
  .charts-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .linechart {
    overflow: auto;
  }
  .searh-row {
    padding-left: 15px;
    padding-right: 15px;
  }
  .searh-row .search-form form .input-search {
    width: 100%;
    max-width: 100%;
  }
  .searh-row .search-form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 15px;
  }
  .searh-row .search-form form .submit-search {
    margin-left: 0px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .infoclient .infoclientrow .img-block {
    height: 200px;
  }
  .charts-content .chart-box .chart-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .charts-content .chart-box .chart-block .doughnutchart,
  .charts-content .chart-box .chart-block .doughnutlegend {
    width: 100%;
  }
  .charts-content .chart-box .chart-block .doughnutlegend .legenditem {
    max-width: 250px;
    margin: auto;
  }
  .filter-wrapper .box {
    margin: 5px;
    width: calc(100% - 10px);
  }
}
